<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eptay.byteMeCalendar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="byteMeCalendar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeekView" />
        <activity android:name=".EventView" />
        <activity android:name=".TimeSelector" />
        <activity android:name=".EditDeleteEvent" />
        <activity android:name=".DateSelector" />
        <activity android:name=".DayView" />
        <activity android:name=".Editdeleteevent" />
        <activity
            android:name=".ShareView"
            android:label="@string/title_activity_share_view"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>